.Sidebar {
    height: calc(100vh - var(--navbar-heigth));
    width: var(--sidebar-widh);
    background-color: var(--inverted-bg-color);
    padding: 20px;
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        grid-auto-flow: row;
    }
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    display: grid;
    gap: 15px;
}
