.app.dark {
    --bg-color: #2c3639;
    --inverted-bg-color: #eff6ee;
    --primary-color: #d2a27c;
    --secondary-color: #dcd7c9;
    --inverted-primary-color: #273043;
    --inverted-secondary-color: #161c27;
}
