.app.dark {
  --bg-color: #2C3639;
  --inverted-bg-color: #EFF6EE;

  --primary-color: #d2a27c;
  --secondary-color: #DCD7C9;

  --inverted-primary-color: #273043;
  --inverted-secondary-color: #161c27;
}
